{% extends "base.html" %}

{% block title %}Заявка на участие{% endblock %}

{% block content %}
<h1>Контакты</h1>
<h2>xxxxxxxxxx</h2>
<h2>xxxxxxxxxx</h2>
<h2>xxxxxxxxxx</h2>
<br><br>
<h2>Как добраться</h2>
<p>xxxxxxxxxx</p> 
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d142095.37071939858!2d104.87511149414054!3d56.18752666583376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1578214659363!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

{% endblock %}